{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_videoplus/videomanage


    Example context (json):
    {

    }
}}


    <div class="localmessage{{messagetype}} card mt-2 mb-2">
        {{#html}}
            <div class="card-body">
                {{{html}}}
            </div>
        {{/html}}
        {{^html}}
            {{#messages}}
                <div class="card-body">
                    <a href="{{descriptionsectionurl}}&cmid={{cmid}}&messageid={{id}}">
                    {{#pix}} t/edit, core, Edit this section {{/pix}}
                    </a>
                    <a href="{{descriptionsectionurl}}&cmid={{cmid}}&messageid={{id}}&del=1">
                    {{#pix}} t/delete, core, Delete this section {{/pix}}
                    </a>
                </div>
                <iframe src="{{videourl}}" width="30%" height=300" style="float: right; margin-left: 5%"></iframe><br>
             {{/messages}}
        {{/html}}
    </div>
{{^messages}}
    <hr>
    <input type="button" class="btn btn-primary" value="{{adddescription}}" onclick="location.href='{{descriptionsectionurl}}&cmid={{cm_id}}'" />
{{/messages}}
<input type="button" class="btn btn-secondary" value="{{back}}" onclick="location.href='{{backurl}}'">



