<div
    class="lg:max-w-4xl xl:max-w-7xl lg:h-90 xl:h-[450px] mx-auto bg-cover bg-no-repeat"
>
    <div class="relative h-full">
        <img [src]="backgroundImgSrc" class="infxs:h-[350px] 2xs:h-[350px] xs:h-[350px] sm:h-90 lg:h-90 md:h-[400px] xl:h-[450px] object-cover"/>
        <div class="absolute bottom-2 right-4">
            <div class="flex flex-col text-right leading-none pb-5">
                <h1
                    class="text-vumi-orange infxs:text-[30px] 2xs:text-[35px] xs:text-[45px] sm:text-[55px] md:text-[88px] xl:text-[110px] font-black"
                >
                    <strong>{{ "SPARK" | translate }}</strong>
                </h1>
                <h2
                    class="text-vumi-orange infxs:text-[25px] 2xs:text-[30px] xs:text-[40px] sm:text-[45px] md:text-[55px] xl:text-[70px] font-extrabold tracking-wider"
                >
                    <strong> {{ "YOUR POTENTIALS" | translate }} </strong>
                </h2>
                <p class="text-vumi-orange infxs:text-xl 2xs:text-2xl xs:text-3xl sm:text-4xl md:text-5xl xl:text-7xl">{{
                    "WITH" | translate
                }}</p>
                <p
                    class="text-vumi-orange infxs:text-xl 2xs:text-2xl xs:text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-extrabold"
                >
                    {{ "VUMI DIGITAL LEARNING" | translate }}
                </p>
            </div>
        </div>
    </div>
</div>
