<div
    *ngIf="loading"
    class="flex justify-center items-center min-w-full min-h-screen mt-6 lg:mt-12"
>
    <div class="loader"></div>
</div>

<div
    *ngIf="!enrolled && !loading"
    class="h-screen flex justify-center items-center"
>
    <div>
        <h1 class="text-center text-vumi-orange text-2xl font-bold lg:text-5xl">
            {{"YOU ARE NOT ENROLLED IN THIS COURSE"|translate}}
        </h1>

        <div class="text-center mt-4">
            <a
                [routerLink]="['/courses']"
                class="text-white text-lg bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >{{"Course Details"|translate}}</a
            >
        </div>
    </div>
</div>

<div
    *ngIf="enrolled && attempts?.length == 0 && !loading"
    class="h-screen flex justify-center items-center"
>
    <div>
        <h1
            class="text-center text-vumi-orange text-2xl font-bold lg:text-5xl xl:text-7xl"
        >
            {{ name }}
        </h1>

        <h1
            class="text-center text-vumi-blue text-2xl font-bold lg:text-3xl xl:text-4xl"
        >
            <div [innerHTML]="intro | sanitizeHtml"></div>
        </h1>

        <div class="flex justify-center mt-4">
            <button
                class="button-vumi-orange font-bold capitalize 
                 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
                (click)="attempt()"
            >
                {{"start attempt"|translate}}
            </button>
        </div>
    </div>
</div>

<div
    *ngIf="enrolled && attempts?.length !== 0 && !loading"
    class="mx-auto lg:max-w-4xl xl:max-w-7xl py-5 text-vumi-orange h-auto"
>
    <div class="mb-4">
        <p
            class="text-left text-black font-semibold lg:text-4xl sm:text-5xl infxs:text-3xl"
        >
            {{ name  }}
        </p>
    </div>

    <h1 class="text-center text-xl lg:text-2xl xl:text-3xl text-vumi-blue">
        <div [innerHTML]="intro | sanitizeHtml"></div>
    </h1>
    <div
        *ngIf="details?.length >= 2"
        class="text-center text-vumi-white text-xl font-semibold lg:text-lg xl:text-xl flex justify-center gap-3"
    >
        <div *ngIf="status3 == 2" class="text-green-600 lg:text-2xl capitalize">
            {{ activityStatus3 | translate }}
        </div>
        <div *ngIf="status3 == 3" class="text-red-600 lg:text-2xl capitalize">
            {{ activityStatus3 | translate }}
        </div>
    </div>

    <div class="flex justify-center">
        <button 
            class="button-vumi-orange font-bold capitalize 
                   outline-none focus:outline-none mt-5 mb-3 ease-linear transition-all duration-150"
            (click)="attempt()">
            {{ buttonText | translate }}
        </button>
    </div>
    <div
        class="bg-vumi-orange lg:py-3 xl:py-4 px-12 text-vumi-white lg:text-xl xl:text-2xl mb-2"
    >
        <h3 class="text-center">{{"Summary of Previous Attempts"|translate}}</h3>
    </div>
    <div class="grid grid-cols-1 max-h-128 overflow-scroll">
        <div class="mb-2" *ngFor="let attempt of attempts">
            <div>
                <div
                    class="mt-1 text-vumi-black py-4 px-12 border border-vumi-blue lg:text-lg xl:text-xl bg-[#f3f2f2]"
                >
                    <h3>{{"Status"|translate}}: {{ attempt?.state }}</h3>
                    <p *ngIf="attempt.sumgrades != null">
                        {{"Obtained Marks"|translate}}: {{ attempt?.sumgrades }}
                    </p>
                    <p>
                        {{"Start"|translate}}:
                        {{ attempt?.timestart * 1000 | date }}
                    </p>
                    <p *ngIf="attempt?.timefinish != 0">
                        {{"Finish"|translate}}:
                        {{ attempt?.timefinish * 1000 | date }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="lg:max-w-4xl xl:max-w-7xl mb-6 mx-auto">
        <div
            class="infxs:mx-0 xs:mx-15 sm:mx-18 md:mx-20 lg:mx-30 xl:mx-40 gap-2 
                   flex flex-row justify-between lg:mt-4 infxs:mt-4 lg:mb-4 infxs:mb-4"
        >
            <button
                *ngIf="prevActivityID != -1 && prevActivityType != 'customcert'"
                (click)="goPrevActivity()"
                class="button-vumi-orange font-bold capitalize
                        outline-none focus:outline-none mb-1 ease-linear transition-all duration-150 "
                type="button"
            >

                <mat-icon class="text-white icon-size-7" aria-hidden="false" aria-label="previous activity icon"
                [svgIcon]="'mat_solid:keyboard_arrow_left'"></mat-icon>
                    <span>{{"Previous"|translate}}</span>

            </button>
            <button *ngIf="prevActivityID == -1"></button>

            <button
                *ngIf="
                    nextActivityID != -1 &&
                    nextActivityType != 'customcert' &&
                    activityDone
                "
                (click)="goNextActivity()"
                class="button-vumi-orange font-bold capitalize     
                 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
                type="button"
            >
            <span>{{"Next"|translate}} </span>
                    <mat-icon class="text-white icon-size-7" aria-hidden="false" aria-label="next activity icon"
                    [svgIcon]="'mat_solid:keyboard_arrow_right'"></mat-icon>
            </button>
            <button *ngIf="nextActivityID == -1"></button>
        </div>
    </div>
</div>
