<div class="flex flex-row flex-wrap items-center">
    <div class="mx-auto">
        <app-program-single
            [fee]="fee"
            [enrolled]="enrolled"
            [program_pdf]="[program_pdf]"
            [course_length]="course_length"
            [program_dates]="program_dates"
            [result_from_parent]="result_from_parent"
            [application_deadline]="application_deadline"
            [program_details]="program_details"
            [program_name]="programname"
        >
        </app-program-single>
    </div>
</div>
