<div
    *ngIf="loading"
    class="flex justify-center items-center min-w-full min-h-screen mt-6 lg:mt-12"
>
    <div class="loader"></div>
</div>
<div
    class="mx-auto lg:max-w-4xl xl:max-w-7xl mt-4 text-vumi-orange"
    *ngIf="!loading"
>
    <div
        class="bg-vumi-orange lg:py-3 xl:py-4 px-12 text-vumi-white lg:text-xl xl:text-2xl"
    >
        <h3 class="text-center">{{"Question"|translate}}</h3>
    </div>

    <div class="text-black mt-8" *ngFor="let question of questionCards">
        <div class="question" [innerHTML]="question"></div>
    </div>

    <div class="flex justify-center">
        <button
            mat-raised-button
            (click)="openSubmitModal()"
            style="filter: drop-shadow(0px 4px 4px rgb(35, 6, 1,0.3))"
                class="button-vumi infxs:w-30 infxs:h-8 sm:w-[140px] sm:h-[38px] bg-vumi-orange text-white font-bold uppercase px-3 lg:px-3 py-3 mb-8"
        >
            {{"SUBMIT"|translate}}
        </button>
    </div>
</div>
