<div class="infxs:w-60 md:pt-8 md:pb-4 lg:w-100 xl:w-120">
    <h2 class="flex flex-row flex-wrap items-center">
        <i
            class="material-icons bg-[#f3f2f2] rounded-full p-2 text-3xl text-[#ffd1b3] mx-2 text-center my-2"
            >warning_amber</i
        >
        <p class="infxs:text-xl lg:text-2xl xl:text-3xl font-semibold">
            {{"CONFIRMATION"|translate}}
        </p>
    </h2>
    <h6>
        <p class="infxs:text-base md:text-lg">
            {{"Are you sure you want to submit this attempt?..."|translate}}
        </p>
    </h6>
    <div class="flex justify-end infxs:gap-3 xl:gap-4 infxs:mt-4 md:mt-12">
        <button
            mat-button
            (click)="submitAttempt()"
            style="filter: drop-shadow(0px 4px 4px rgb(35, 6, 1,0.3))"
                class="button-vumi infxs:w-30 infxs:h-8 sm:w-[140px] sm:h-[38px] bg-vumi-orange text-white font-bold uppercase px-3 lg:px-3 py-3"
        >
            {{"Submit"|translate}}
        </button>
        <button
            mat-button
            (click)="onNoClick()"
            class="button-vumi infxs:w-30 infxs:h-8 sm:w-[140px] sm:h-[38px] text-vumi-white bg-vumi-blue font-bold uppercase px-3 lg:px-3 py-3"
        >
            {{"Cancel"|translate}}

        </button>
    </div>
</div>
