<div
    class="text-center infxs:w-[350px] lg:w-[200px] xl:w-[280px] text-vumi-orange flex flex-col gap-3"
>
    <div>
        <!-- editable from backend -->
        <ng-container *ngFor="let program of program_name?.slice(0,1)">
            <p class="text-lg">{{program.name}}</p>
        </ng-container>
        <span *ngFor="let date of program_dates; index as i" class="text-lg font-semibold mb-3">
            {{ date?.programdate }} <span *ngIf="i < program_dates.length-1">{{' | '}}</span>
        </span>
    </div>
    <ng-container *ngFor="let detail of program_details">
        <div>
            <p class="text-lg">{{detail.name}}</p>
            <p class="text-lg font-semibold">
                {{ detail.value }} {{ detail.name.toLowerCase().includes('fee') ? ' BDT' : '' }}
            </p>
        </div>
    </ng-container>

    <!-- THESE ARE NOW ALL EDITABLE FROM BACKEND -->
    <!-- <div>
        <p class="text-lg">Application Deadline</p>
        <p class="text-lg font-semibold">
            {{ application_deadline }}
        </p>
    </div>

    <div>
        <p class="text-lg">Course Length</p>
        <p class="text-lg font-semibold">{{ course_length }}</p>
    </div>

    <div>
        <p class="text-lg">Fee</p>
        <p
            class="text-lg font-semibold"
        >
            {{ fee + ' BDT' }} 
        </p>
    </div> -->

    <div class="flex flex-col items-center gap-y-5 mt-5">
        <a [href]="program_pdf" target="_blank">
            <button
                class="px-4 py-2 infxs:border-vumi-orange lg:border-vumi-blue lg:px-3 lg:py-2 xl:px-7 xl:py-3 text-vumi-blue font-bold border-white border-2 border-solid button-vumi bg-white"
            >
                {{"Detailed Calendar PDF"|translate}}
            </button>
        </a>

        <!-- <img
            src="assets\images\pages\courses\program-structure\1.webp"
            alt="Certificate"
            class="infxs:w-24 lg:w-24 xl:w-32 infxs:h-14 lg:h-12 xl:h-18 border-2 border-vumi-orange mt-3 mb-3"
        /> -->

        <button
            *ngIf="!enrolled && endIn > 0"
        style="filter: drop-shadow(0px 4px 4px rgb(35, 6, 1,0.3))"
            class="rounded-[1px] text-white infxs:text-base sm:text-lg px-4 py-2 infxs:bg-vumi-orange lg:bg-vumi-blue lg:py-1 xl:py-2 lg:px-3 font-semibold uppercase"
            (click)="goto()"
        >
            {{"Apply Now"|translate}}
        </button>
    </div>
</div>
