<div class="bg-vumi-white hidden md:block">
    <div
        class="md:w-[1040px] 2lg:w-[1160px] xl:w-[1400px] md:min-h-[490px] 2lg:min-h-[540px] xl:min-h-[650px] md:pt-9 xl:pt-12 grid grid-cols-2"
        *ngIf="!mobile"
    >
        <div class="relative bg-vumi-white">
            <img
                src="assets\images\pages\courses\what-will-you-learn\1.webp"
                alt="what will you learn"
                class="absolute left-0 bottom-0"
            />
        </div>

        <div class="flex flex-col justify-center md:mb-6 xl:mb-0 md:ml-10 2lg:ml-16 xl:ml-24">
            <h1
                class="text-4xl text-vumi-orange whitespace-nowrap"
                style="white-space: nowrap"
            >
                {{"WHAT YOU WILL"|translate}} <strong class="font-black">{{"LEARN"|translate}}</strong>
            </h1>
            <ul
                class="md:-mt-6 xl:-mt-3 text-vumi-blue text-base xs:text-lg"
            >
                <li>
                    <div [innerHTML]="learn?.learning | sanitizeHtml"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
