<div
    class="container m-auto grid grid-cols-1 sm:grid-cols-2 gap-1 sm:h-screen sm:pb-10 lg:m-auto"
>
    <div class="image-section order-last mt-4 sm:mt-0 sm:order-none">
        <img
            src="assets/images/signup-img.webp"
            alt=""
            class="block sm:hidden"
        />

        <img
            class="hidden sm:block md:-ml-1/4"
            src="assets/images/login/login.webp"
        />
    </div>

    <div class="form-section sm:flex mt-6 sm:mt-0 sm:">
        <div class="right-segment sm:mt-1/4 sm:mr-6">
            <div class="px-3 mb-8">
                <p class="text-left text-2xl font-[700]">
                    {{
                        "Enter the email address associated with your account and we will send a link to your account to reset your password"
                            | translate
                    }}
                </p>

                <form
                    (ngSubmit)="onSubmit()"
                    #regForm="ngForm"
                    class="rounded mt-6"
                >
                    <div class="mb-4">
                        <label
                            for="email"
                            class="block text-3xl font-bold mb-2 text-vumi-blue"
                        >
                            {{ "Email" | translate }}:
                        </label>
                        <input
                            type="email"
                            email="true"
                            [(ngModel)]="emailInfo.email"
                            #email="ngModel"
                            name="email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            required
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        />
                    </div>

                    <div
                        *ngIf="email.invalid && (email.dirty || email.touched)"
                        class="alert sm:-mt-2 mb-2"
                    >
                        <div
                            *ngIf="email.errors?.['required']"
                            style="color: red"
                            class="font-bold"
                        >
                            {{ "*Email is required" | translate }}
                        </div>

                        <div
                            *ngIf="email.errors?.pattern"
                            style="color: red"
                            class="font-bold"
                        >
                            *{{ "Invalid Email" | translate }}
                        </div>
                    </div>

                    <div *ngIf="!accountConfirmed" class="alert sm:-mt-2 mb-2">
                        <div style="color: red">
                            *Account is not activated yet
                        </div>
                    </div>

                    <button
                        *ngIf="regForm.valid && !loading"
                        type="submit"
                        class="w-full bg-vumi-blue text-white p-2 font-bold button-vumi"
                    >
                        {{ "Submit" | translate }}
                    </button>

                    <div
                        *ngIf="loading"
                        class="flex justify-center items-center"
                    >
                        <div class="loader"></div>
                    </div>

                    <button
                        *ngIf="!regForm.valid && !loading"
                        type="submit"
                        [disabled]="true"
                        class="w-full bg-gray-300 text-white p-2 font-bold rounded"
                    >
                        {{ "Submit" | translate }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
