<div class="min-h-[50vh]">
    <div *ngIf="loading" class="min-h-screen flex justify-center items-center">
        <div class="loader"></div>
    </div>

    <div *ngIf="!enrolled" class="h-screen flex justify-center items-center">
        <div>
            <h1
                class="text-center text-vumi-orange text-2xl font-bold lg:text-4xl"
            >
            {{"YOU ARE NOT ENROLLED IN THIS COURSE"|translate}}
            </h1>

            <div class="flex justify-center mt-7">
                <button
                    type="button"
                    (click)="goToCourse()"
                    class="button-vumi text-white infxs:text-base sm:text-lg infxs:w-30 infxs:h-8 sm:w-[140px] sm:h-[38px] bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    {{"Course Details"|translate}}
                </button>
            </div>
        </div>
    </div>

    <div
        *ngIf="pdfFound && enrolled"
        class="px-3 h-fit lg:px-0 lg:max-w-4xl xl:max-w-7xl py-5 mx-auto"
    >
        <div class="max-w-[1000px] mx-auto">
            <!-- pdf viewer in iframe -->
            <div
                class="relative overflow-hidden infxs:h-[50vh] md:h-fit"
                style="padding-top: 56.25%"
            >
                <iframe
                    class="absolute top-0 left-0 w-full h-full"
                    [src]="pdf_src"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen
                >
                </iframe>
            </div>

            <!-- next/prev button -->
            <div class="lg:max-w-4xl xl:max-w-7xl mb-6 mx-auto">
                <div
                    class="infxs:mx-0 xs:mx-15 sm:mx-18 md:mx-20 lg:mx-30 xl:mx-40 gap-2 flex flex-row justify-between lg:mt-4 infxs:mt-4 lg:mb-4 infxs:mb-4"
                >
                    <button
                        *ngIf="
                            prevActivityID != -1 &&
                            prevActivityType != 'customcert'
                        "
                        (click)="goPrevActivity()"
                        style="filter: drop-shadow(0px 4px 4px rgb(35, 6, 1,0.3))"
                        class="button-vumi bg-vumi-orange text-white infxs:text-base sm:text-lg infxs:w-30 infxs:h-8 sm:w-[140px] sm:h-[38px] font-bold capitalize outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
                        type="button"
                    >
                    <mat-icon class="text-white icon-size-7" aria-hidden="false" aria-label="previous activity icon"
                    [svgIcon]="'mat_solid:keyboard_arrow_left'"></mat-icon>
                        <span>{{"Previous"|translate}}</span>
                    </button>
                    <button *ngIf="prevActivityID == -1"></button>

                    <button
                        *ngIf="
                            nextActivityID != -1 &&
                            nextActivityType != 'customcert' &&
                            activityDone
                        "
                        (click)="goNextActivity()"
                        style="filter: drop-shadow(0px 4px 4px rgb(35, 6, 1,0.3))"
                        class="button-vumi infxs:w-30 infxs:h-8 sm:w-[140px] sm:h-[38px] bg-vumi-orange text-white infxs:text-base sm:text-lg hover:text-white font-bold capitalize outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
                        type="button"
                    >
                    <span>{{"Next"|translate}} </span>
                    <mat-icon class="text-white icon-size-7" aria-hidden="false" aria-label="previous activity icon"
                    [svgIcon]="'mat_solid:keyboard_arrow_right'"></mat-icon>
                    </button>

                    <button
                        *ngIf="!activityDone"
                        (click)="toggleActivityStatus()"
                        class="button-vumi infxs:w-30 infxs:h-8 sm:w-[140px] sm:h-[38px] border border-vumi-blue bg-vumi-blue text-white font-bold capitalize outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button"
                    >
                        {{"Mark as Done"|translate}}
                    </button>

                    <button
                        *ngIf="
                            nextActivityID != -1 &&
                            nextActivityType == 'customcert' &&
                            certificateAvailable
                        "
                        (click)="getCertificate()"
                        class="infxs:px-2 button-vumi border border-vumi-blue bg-vumi-blue text-white font-bold capitalize outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
                        type="button"
                    >
                        {{"Download Certificate"|translate}}
                    </button>

                    <button
                        *ngIf="
                            nextActivityID != -1 &&
                            nextActivityType == 'customcert' &&
                            !certificateAvailable
                        "
                        [disabled]="true"
                        class="infxs:px-2 infxs:text-base sm:text-lg border border-gray-300 bg-gray-300 text-white font-bold capitalize outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
                        type="button"
                    >
                        {{"Download Certificate"|translate}}
                    </button>
                </div>
            </div>

            <!-- pdf activity name -->
            <div class="mb-4">
                <p
                    class="text-left text-black font-semibold lg:text-4xl sm:text-5xl infxs:text-3xl"
                >
                    {{ pdfName }}
                </p>
            </div>
        </div>
    </div>
</div>
