.warning {
    border: 2px solid #dc2626 !important;
}
.theme-default .light .mat-mdc-checkbox.mat-warn,
.theme-default.light .mat-mdc-checkbox.mat-warn {
    --mdc-checkbox-selected-checkmark-color: #dc2626;
    --mdc-checkbox-selected-focus-icon-color: blue;
    --mdc-checkbox-selected-hover-icon-color: white;
    --mdc-checkbox-selected-icon-color: white;
    --mdc-checkbox-selected-pressed-icon-color: white;
    --mdc-checkbox-unselected-focus-icon-color: #212121;
    --mdc-checkbox-unselected-hover-icon-color: #212121;
    --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}
.mdc-checkbox__background {
    border: 2px solid #243982 !important;
}

@media only screen and (min-width: 600px) {
    .form-section {
        margin-top: 0rem !important;
    }
}


.fab, .fa-linkedin, .fa-facebook{
    font-size: 1.2rem !important;
}

.fa-google{
    font-size: 1rem !important;
}