<div
    class="container m-auto grid grid-cols-1 md:grid-cols-2 md:h-screen gap-1 lg:m-auto xl:h-auto overflow-hidden md:pb-6"
>
    <div class="image-section order-last mt-2 md:mt-0 md:order-none">
        <img
            src="assets/images/signup-img.webp"
            alt=""
            class="block md:hidden"
        />

        <img
            class="hidden md:block md:-ml-1/4"
            src="assets/images/login/login.webp"
        />
    </div>

    <div class="form-section p-2 md:w-2/3 md:-ml-1/12">
        <h1 class="mt-8 my-5 text-vumi-blue font-bold text-3xl">
            {{ "Reset Password" | translate }}
        </h1>

        <form
            action=""
            class="mt-8"
            [formGroup]="formInfo"
            #resetPassForm="ngForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="login-form flex flex-col">
                <div
                    class="max-w-full flex justify-between sm:justify-between my-5"
                    [ngStyle]="{
                        'border-bottom':
                            formInfo.get('password').invalid &&
                            (formInfo.get('password').dirty ||
                                formInfo.get('password').touched)
                                ? ' 2px solid red'
                                : '2px solid #263a7f'
                    }"
                >
                    <div class="label flex items-center">
                        <div class="relative">
                            <input
                                id="password"
                                type="password"
                                [formControlName]="'password'"
                                #passwordField
                                class="peer"
                                required="true"
                                minlength="8"
                            />
                            <label
                                for="password"
                                [ngClass]="{
                                    '-top-6':
                                        formInfo.get('password').value !== ''
                                }"
                                for=""
                                class="flex text-vumi-blue font-bold items-center transition-all absolute left-0 -top-5 peer-focus:-top-4"
                            >
                                {{ "New Password" | translate }}
                            </label>
                        </div>
                    </div>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                </div>

                <div
                    *ngIf="
                        formInfo.get('password').invalid &&
                        (formInfo.get('password').dirty ||
                            formInfo.get('password').touched)
                    "
                    class="alert alert-danger"
                >
                    <div
                        *ngIf="formInfo.get('password').errors?.['required']"
                        class="text-vumi-orange -mt-2 font-semibold"
                    >
                        {{ "*Password is required" | translate }}
                    </div>

                    <div
                        *ngIf="formInfo.get('password').errors.pattern"
                        class="text-vumi-orange -mt-2 font-semibold"
                    >
                        {{
                            "*Password must be have at least one number, one uppercase, one lowercase and one special character and 8 characters"
                                | translate
                        }}
                    </div>
                </div>

                <div
                    class="max-w-full flex justify-between sm:justify-between my-5"
                    [ngStyle]="{
                        'border-bottom':
                            passMatched == false ||
                            (formInfo.get('confirmPassword').invalid &&
                                (formInfo.get('confirmPassword').dirty ||
                                    formInfo.get('confirmPassword').touched))
                                ? ' 2px solid red'
                                : '2px solid #263a7f'
                    }"
                >
                    <div class="label flex items-center">
                        <div class="relative">
                            <input
                                id="confirmPassword"
                                type="password"
                                [formControlName]="'confirmPassword'"
                                #confirmPassword
                                class="peer"
                            />
                            <label
                                for="confirmPassword"
                                [ngClass]="{
                                    '-top-6':
                                        formInfo.get('confirmPassword')
                                            .value !== ''
                                }"
                                for=""
                                class="flex text-vumi-blue font-bold items-center transition-all absolute left-0 -top-5 peer-focus:-top-4"
                            >
                                {{ "Confirm Password" | translate }}
                            </label>
                        </div>
                    </div>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            confirmPassword.type === 'password'
                                ? (confirmPassword.type = 'text')
                                : (confirmPassword.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="confirmPassword.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="confirmPassword.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                </div>

                <div
                    *ngIf="
                        formInfo.get('confirmPassword').touched ||
                        formInfo.get('confirmPassword').dirty
                    "
                >
                    <div
                        *ngIf="formInfo.get('confirmPassword').errors?.['required']"
                        class="text-vumi-orange -mt-2 font-semibold mb-4"
                    >
                        {{ "*Confirm Password is required" | translate }}
                    </div>

                    <div
                        *ngIf="
                            formInfo
                                .get('confirmPassword')
                                .hasError('matchPassword')
                        "
                        class="text-vumi-orange -mt-2 font-semibold mb-4"
                    >
                        {{ "*Passwords do not match" | translate }}
                    </div>
                </div>

                <button
                    *ngIf="!loading && formInfo.invalid"
                    [disabled]="true"
                    class="bg-gray-300 text-white p-3 font-bold cursor-not-allowed"
                >
                    {{ "Submit" | translate }}
                </button>

                <button *ngIf="!formInfo.invalid && !loading" style="filter: drop-shadow(0px 4px 4px rgb(35, 6, 1,0.3))" class="rounded-[1px]
                                    bg-vumi-orange text-white infxs:text-base sm:text-lg p-3 font-bold">
                    {{ "Submit" | translate }}
                </button>

                <div *ngIf="loading" class="flex justify-center items-center">
                    <div class="loader"></div>
                </div>

                <div *ngIf="!validToken" class="alert mt-6 mb-2">
                    <div
                        class="text-center font-bold text-2xl"
                        style="color: red"
                    >
                        <p>{{ "*Error Updating Password" | translate }}</p>
                        <div class="ml-2 text-center justify-center font-bold">
                            <a
                                routerLink="/password/forget"
                                class="text-vumi-blue"
                            >
                                {{ "Try Again" | translate }}</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
