{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_acc_report/view


    Example context (json):
    {

    }
}}

<style>
    .fa {
        cursor: pointer;
    }
</style>

<div>
    <div class="mt-5">
        <h5>{{#str}} add_new_entry_heading, local_acc_report {{/str}}</h5>
        <a class="btn btn-primary mb-5" href="{{ edit_acc_entry }}">
            {{#str}} add_new_entry, local_acc_report {{/str}}
        </a>
    </div>
    
    <h3>{{#str}} accounting_report, local_acc_report {{/str}} {{coursefullname}}</h3>
    <p> {{from}} to {{to}}</p>

    <div class="jumbotron text-center m-5">
        <div class="row">
            <div class="col-6">
                <h3>{{#str}} total_income, local_acc_report {{/str}}</h3>
                <h3>{{#str}} bdt, local_acc_report {{/str}} {{totalincome}}</h3>
            </div>
            <div class="col-6">
                <h3>{{#str}} total_expenses, local_acc_report {{/str}}</h3>
                <h3>{{#str}} bdt, local_acc_report {{/str}} {{totalexpense}}</h3>
            </div>
        </div>
        <div class="row text-center mt-5">
            <div class="col-12">
                <h3>{{#str}} profit_loss, local_acc_report {{/str}}</h3>
                <h3>{{#str}} bdt, local_acc_report {{/str}} {{difference}}</h3>
            </div>
        </div>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{#str}} date, local_acc_report {{/str}}</th>
                <th>{{#str}} course_name, local_acc_report {{/str}}</th>
                <th>{{#str}} type, local_acc_report {{/str}}</th>
                <th>{{#str}} source, local_acc_report {{/str}}</th>
                <th>{{#str}} amount, local_acc_report {{/str}}</th>
                <th>{{#str}} currency, local_acc_report {{/str}}</th>
                <th>{{#str}} comment, local_acc_report {{/str}}</th>
                <th>{{#str}} edited_by, local_acc_report {{/str}}</th>
                <th>{{#str}} actions, local_acc_report {{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#entries}}
                <tr>
                    <td>{{timemodified}}</td>
                    <td>{{fullname}}</td>
                    <td>{{type}}</td>
                    <td>{{source}}</td>
                    <td>{{amount}}</td>
                    <td>{{currency}}</td>
                    <td>{{comment}}</td>
                    <td>{{createdby}}</td>
                    {{#id}}
                    <td>
                        <a class="ml-2 mr-1" href="{{ edit_acc_entry }}?id={{ id }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a onclick="showAlert('{{id}}')" class="ml-1" >
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                    {{/id}}
                    {{^id}}
                    <td></td>
                    {{/id}}
                </tr>
            {{/entries}}
        </tbody>
    </table>

</div>

<script>
    function showAlert(id) {  
        let result = confirm('Are you sure you want to delete the entry?');
        if(result) {
            window.location.href = '{{ edit_acc_entry }}?id=' + id + '&delete=1';            
        }
    }
</script>